<p>The two-way bound variable is: {{name}}</p>

<!--Ohne NgModel:-->
<p>
  <label for="NOngModel-example">[value] und (input):</label>
  <input id="NOngModel-example" [value]="name" (input)="name = $any($event.target).value">
</p>

<!--Mit NgModel:-->
<p>
  <label for="ngModel-example">[(ngModel)]: </label>
  <input id="ngModel-example" [(ngModel)]="name" />
</p>

<!-- NgModel geteilt in Property-Binding & Event-Binding -->
<p>
  <label for="ngModel-split-example">[ngModel] und (ngModelChange): </label>
  <input id="ngModel-split-example" [ngModel]="name" (ngModelChange)="name=$event">
</p>

<app-example></app-example>

<app-InputShowcase [name]="name"></app-InputShowcase>
<app-OutputShowcase (newNameEvent)="handleNameChange($event)"></app-OutputShowcase>
<p>The name (set by the child) is: {{name}}</p>
