<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <h1 class="title">Angular Forms Showcase</h1>

  <div fxLayout="row-wrap" fxLayout.lt-sm="column" fxLayoutGap="16px">
    <mat-card class="custom-form-card">
      <mat-card-title>Form</mat-card-title>
      <mat-card-subtitle>
        Type something in the form and submit it
      </mat-card-subtitle>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width-form-field" appearance="fill">
            <mat-label>Firstname</mat-label>
            <input matInput type="text" formControlName="firstName">
          </mat-form-field>
          <p>
            <mat-form-field class="full-width-form-field" appearance="fill">
              <mat-label>Lastname</mat-label>
              <input matInput type="text" formControlName="lastName">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-width-form-field" appearance="fill">
              <mat-label>Age</mat-label>
              <input matInput type="number" formControlName="age" placeholder="only numbers allowed">
            </mat-form-field>
          </p>
          <p>isSubmitted: {{isSubmitted}}</p>
          <button mat-raised-button type="submit">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card class="custom-form-card" *ngIf="isSubmitted">
      <mat-card-title>Submitted values</mat-card-title>
      <mat-card-subtitle>this card will pop up after sucessfully submitting the form</mat-card-subtitle>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
        <p>firstName: {{this.checkoutForm.get("firstName")!.value}}</p>
        <p>lastName: {{this.checkoutForm.get("lastName")!.value}}</p>
        <p>age: {{this.checkoutForm.get("age")!.value}}</p>
        <button mat-raised-button class="reset-btn" (click)="resetForm()">Reset form</button>
        <mat-divider></mat-divider>
        <h4>OBACHT!</h4>
        <p>Resetting the form is usually done while submitting, so the submitted values cant be changed afterwards.</p>
        <p>
          Try changing them before resetting, to see the two-way binding between the input fields and the internal form
          model. <br>
          The need for an explicit reset is only implemented to showcase this behaviour.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>