<div class="container" style="margin-top: 20px;">
  <h1>HTTP-Requests Showcase</h1>
  <p>Click the buttons to fetch data from src/assets/dummyData.json</p>
  <br>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
    <button mat-raised-button (click)="clear(); showData()">showData</button>
    <button mat-raised-button (click)="clear(); showDataResponse()">showDataResponse</button>
    <button mat-raised-button (click)="clear(); makeError()">makeError</button>
  </div>

  <div *ngIf="data.length > 0">
    <ul>
      <li *ngFor="let data of data">
        <div>ID: {{data.id}}</div>
        <div>Name: {{data.name}}</div>
        <div>Age: {{data.age}}</div>
        <div>Address: {{data.address}}</div>
      </li>
    </ul>
  </div>

  <div *ngIf="headers">
    <ul>
      <li *ngFor="let header of headers">
        {{header}}
      </li>
    </ul>
  </div>

  <p *ngIf="error" class="error">{{error | json}}</p>
</div>