<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <h1>HTTP-Requests Showcase</h1>
  <p>Click the buttons to fetch data from src/assets/dummyData.json</p>
  <br>

  <div fxLayout="row" fxLayout.xs="column"
  fxLayoutAlign="center" fxLayoutGap="10px">
    <button mat-raised-button (click)="showData()">showData</button>
    <button mat-raised-button (click)="makeError()">makeError</button>
  </div>

  <div *ngIf="data.length != 0">
    <ul>
      <li *ngFor="let data of data">
        <div>ID: {{data.id}}</div>
        <div>Name: {{data.name}}</div>
        <div>Age: {{data.age}}</div>
        <div>Address: {{data.address}}</div>
      </li>
    </ul>
  </div>

  <div *ngIf="error" class="error">Error: {{error}}</div>

</div>