.mat-sidenav-container {
    min-height: calc(100% - 64px);
    height: auto;
}

.nav-text {
    margin-left: 5px;
}

/*Firefox, Edge, IE ..*/
.content {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}

/*Chrome*/
.content::-webkit-scrollbar { 
    width: 0;
    height: 0;
}