<div>
  <app-top-bar (toggleSidenav)="sidenav.toggle()"></app-top-bar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>

        <!--Workaround, da in mat-nav-list by default 
        das erste Elemente initial angewählt ist-->
        <a mat-list-item routerLink="/" style="height: 0;"></a>

        <div *ngFor="let item of items">
          <a mat-list-item (click)="sidenav.close()" 
          [routerLink]="item.path" 
          routerLinkActive="active">
            <mat-icon>{{item.icon}}</mat-icon>
            <div class="nav-text">{{item.text}}</div>
          </a>
        </div>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content" fxFlex fxLayoutAlign="center start"
      style="height: 100vh; margin-left: 50px; margin-right: 50px;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>