<div>
  <app-top-bar (toggleSidenav)="sidenav.toggle()"></app-top-bar>


  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>

        <!--Workaround, da in mat-nav-list by default das erste Elemente initial angewählt ist-->
        <a mat-list-item routerLink="/" style="height: 0;"></a>

        <a mat-list-item
          (click)="sidenav.close()"
          routerLink="/"
          routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>
          <div class="nav-text" fxHide.lt-sm>Responsive Grid</div>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item
          (click)="sidenav.close()"
          routerLink="/forms"
          routerLinkActive="active">
          <mat-icon>edit_note</mat-icon>
          <div class="nav-text" fxHide.lt-sm>Forms</div>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item
          (click)="sidenav.close()"
          routerLink="/bindings"
          routerLinkActive="active">
          <mat-icon>swap_vert</mat-icon>
          <div class="nav-text" fxHide.lt-sm>Bindings</div>
        </a>
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content" fxFlex fxLayoutAlign="center start" style="height: 100vh; margin-left: 50px; margin-right: 50px;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>